/* Header with stripes background */
#headerBox {
    position: relative;
    height: max-content;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 4em 0;
}

/* whTr.png image with stripes background image */
#headerBoxImg {
    position: absolute;
    top: 0;
    background-image: url(/img/util/Shadow.png);
    background-size: 75%;
    z-index: -1;
}

#headerBoxImg img {
    height: inherit;
}

/* "Content", filter + sold thing */
#wrapper {
    display: grid;
    grid-template-columns: 10em 60% 1fr;
    text-align: center;
    padding: 1.5em 0;
}

/* outer filter box (no id) */
#wrapper>div:nth-of-type(2) {
    border-right: .1em var(--gray) solid;
}

/* seperate transaction box */
.transactionBox {
    position: relative;
    /* background-image: url(/img/util/ShadowBlackTr.png);
    background-size: 170%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    max-width: 36em;
    height: 3.9em;
    border: .1em solid var(--black);
    overflow: hidden;
}

.transactionBox div {
    height: inherit;
    display: flex;
    align-items: center;
}

#backBtnBox {
    padding: 4.3em;
    padding-top: 0;
}

.transactionBoxImg {
    position: absolute;
    top: 0;
    background-image: url(/img/util/ShadowBlackTr.png);
    background-size: 170%;
    width: 100%;
    z-index: -1;
}

.transactionBoxImg img {
    height: inherit;
}
