/* Header with stripes background */
#headerBox {
    position: relative;
    height: max-content;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 4em 0;
}

/* whTr.png image with stripes background image */
#headerBoxImg {
    position: absolute;
    top: 0;
    background-image: url(/img/util/Shadow.png);
    background-size: 75%;
    z-index: -1;
}

#headerBoxImg img {
    height: inherit;
}

/* "Content", filter + sold thing */
#wrapper {
    display: grid;
    grid-template-columns: 5% 60% 1fr;
    text-align: center;
    padding: 1.5em 0;
}

/* Back button */
#backBtnBox {
    /* padding: 35%; */
    padding-top: 0;
    height: min-content;
    /* background-color: rgba(255, 0, 0, 0.355); */
}


#backBtnBox img {
    width: 30%;
   /* transform: scale(.3); */
}

#backBtnBox:hover img {
    transform: scale(1.25);
}

/* outer filter box (no id) */
#wrapper>div:nth-of-type(2) {
    border-right: .1em var(--gray) solid;
}

/* transactions box with h2 element */
#transactionsWrapper {
    padding: 0 1.2em;
}

#transactionsWrapper h2 {
    font-size: 1.4em;
    font-family: orbitron-bold;
    margin-left: auto;
    margin-bottom: .3em;
    width: fit-content;
}

/* transaction box */
#transactions {
    display: grid;
    gap: 4.3em;
    /* height: 100em; */
}

/* date of transaction box */
.transactionDateBox {
    text-align: right;
}

/* Position the transactions: now float right */
/* .transactionPosBox {} */

/* seperate transaction box */
.transactionBox {
    float: right;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: .3em 0;
    width: 80%;
    max-width: 36em;
    height: 3em;
    border: .1em solid var(--black);
    overflow: hidden;
}

/* content of seperate transaction box */
.transactionBox div {
    height: inherit;
    display: flex;
    align-items: center;
}

/* Left and right padding for device and price */
.transactionBox div:not(.transactionBoxImg) {
    padding: 0 1em;
}

.transactionBoxImg {
    position: absolute;
    top: 0;
    background-image: url(/img/util/ShadowBlackTr.png);
    background-size: 170%;
    width: 100%;
    z-index: -1;
}

.transactionBoxImg img {
    height: inherit;
}

#accountBox {
    height: min-content;
    margin: 0 2.65em;
    position: sticky;
    top: 10em;
}

#accountBox h2 {
    font-size: 1.8em;
    font-family: orbitron-bold;
    margin-left: auto;
    margin-top: 1em;
    margin-bottom: .5em;
    width: fit-content;
}


#accountDetails {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 1.6em;
}

#accountDetails p {
    font-size: 1.12em;
    font-family: orbitron-medium;
}

#accountDetails img {
    width: 5em;
    border: var(--accountBorder);
    border-radius: 3em;
    box-shadow: var(--accountBoxShadow);
}

/* account balance + delete + log out grid box */
#accountBtns {
    display: grid;
    gap: .7em;
}

/* account delete + log out styling */
#accountBtns>div {
    width: fit-content;
    padding: .3em 1em;
    margin-left: auto;
}

#accountBtns>div p {
    font-family: orbitron-black;
    font-size: 1.2em;
}

#accountBalance {
    color: var(--green);
    width: fit-content;
    margin: 2em 0;
    margin-left: auto;
}

#accountBalance p {
    font-size: 1.7em;
    font-family: orbitron-semibold;
}

#accountDelete {
    color: red;
    border: .2em red solid;
}

#accountLogOut {
    color: var(--white);
    background-color: var(--expert);
    border: .2em var(--expert) solid;
}