/* sold thing box */
#items-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 3em;
    column-gap: 1.6em;
    padding: 2em 1em;
    color: var(--black);
}

/* seperate sold thing boxes */
.itemBox {
    max-height: 12.5em;
    height: 12.5em;
    /* border: .06em var(--darkgray) solid; */
    box-shadow: 0px 0px .12em var(--darkgray), inset 0px 0px .2em var(--gray);
    border-right: .1em var(--gray) solid;
    border-bottom: .1em var(--gray) solid;
    position: relative;
    opacity: 0;
    overflow: hidden;
}

/* inner boxes of .itemBox --> centered positioning */
.itemBox>div:not(.itemDetails) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemBoxFront {
    width: 100%;
    height: 100%;
}

.itemBoxFrontGrid {
    display: grid;
    grid-template-columns: 30% 1fr;
    height: 100%;
    width: 100%;
}

.itemImg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemStats {
    display: grid;
    grid-template-columns: 1fr;
}

.itemStats>div {
    display: flex;
    justify-content: center;
    width: 88%;
    margin: 0 auto;
}

.itemStats>div:first-of-type {
    align-items: end;
    padding-bottom: .2em;
}

.itemStats>div:last-of-type {
    align-items: start;
    padding-top: .2em;
    border-top: var(--accountBorder);
}