/* sold thing box */
#items-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 3em;
    column-gap: 1.6em;
    padding: 2em 1em;
    color: var(--black);
}

/* seperate sold thing boxes */
.itemBox {
    max-height: 12.5em;
    height: 12.5em;
    border: .1em var(--black) solid;
    position: relative;
    opacity: 0;
}

/* inner boxes of .itemBox --> centered positioning */
.itemBox>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemBoxFront {
    width: 100%;
    height: 100%;
}

.itemBoxFrontGrid {
    display: grid;
    grid-template-columns: 30% 1fr;
    height: 100%;
    width: 100%;
}

.itemBoxFrontGrid>div {
    display: flex;
    justify-content: center;
    align-items: center;
}


