/* sold thing box */
#items-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 3em;
    column-gap: 1.6em;
    padding: 2em 1em;
    color: var(--black);
}

/* seperate sold thing boxes */
.itemBox {
    max-height: 12.5em;
    height: 12.5em;
    border: .1em var(--black) solid;
    position: relative;
    opacity: 0;
}

/* inner boxes of .itemBox --> centered positioning */
.itemBox>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemBoxFront {
    width: 100%;
    height: 100%;
}

.itemBoxFrontGrid {
    display: grid;
    grid-template-columns: 30% 1fr;
    height: 100%;
    width: 100%;
}

.itemBoxFrontGrid>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.warning {
    position: absolute;
    top: 2em;
    left: calc(50% - 10em);
    width: 20em;
    height: 4.5em;
    background-color: #F6E5E4;
    border: .08em #b22b2b solid;
    padding: .3em .5em;
    margin: 3em 0;
    display: grid;
    grid-template-columns: 1fr 25%;
    text-align: center;
    align-items: center;
    box-shadow: 0px 0px 4px #b22b2b, inset 0px 0px 3.5px #b22b2b;
}

.warningMessage p {
    color: #b22b2b;
    font-family: orbitron-bold;
    font-size: 1.1em;
}

.warningCancel {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.warningCancel div {
    width: min-content;
    cursor: pointer;
}

.warningCancel div:hover p {
    transform: scale(1.12);
    background-color: #b22b2b;
    color: #F6E5E4;
    font-family: orbitron-bold;
}

.warningCancel div:active p {
    transform: scale(1.02);
}

.warningCancel p {
    color: #cc8787;
    border: .08em #cc8787 solid;
    padding: .25em .5em;
    font-family: orbitron-regular;
}

