@font-face {
    font-family: orbitron-regular;
    src: url(../fonts/Orbitron/static/Orbitron-Regular.ttf);
}

@font-face {
    font-family: orbitron-bold;
    src: url(../fonts/Orbitron/static/Orbitron-Bold.ttf);
}

@font-face {
    font-family: orbitron-black;
    src: url(../fonts/Orbitron/static/Orbitron-Black.ttf);
}

@font-face {
    font-family: orbitron-extrabold;
    src: url(../fonts/Orbitron/static/Orbitron-ExtraBold.ttf);
}

@font-face {
    font-family: orbitron-medium;
    src: url(../fonts/Orbitron/static/Orbitron-Medium.ttf);
}

@font-face {
    font-family: orbitron-semibold;
    src: url(../fonts/Orbitron/static/Orbitron-SemiBold.ttf);
}


/* Colours */
:root {
    --expert: #ff6123;
    --background: #f6f6f6;
    --white: #ffffff;
    --white70: #ffffffb3;
    --black: #171717;
    --lightgray: rgb(224, 224, 224);
    --gray: rgb(196, 196, 196);
    --darkgray: rgb(88, 88, 88);
    --red: red;
    --yellow: rgb(255, 227, 18);
    --green: #32A852;
    --simpleBorder: .08em var(--black) solid;
    --accountBoxShadow: 0px 0px 3px var(--black), inset 0px 0px 2px var(--black);
    --btnWidth: 7em;
    --btnPadding: .3em 1em;
    --btnFont: orbitron-bold;
}

* {
    margin: 0;
    padding: 0;
    font-family: orbitron-regular, arial, sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding: 30%;
    transition: all .12s ease;
    color: var(--black);
}

/* General classes */

.bold {
    font-family: orbitron-bold;
}

.extrabold {
    font-family: orbitron-extrabold;
}

.semibold {
    font-family: orbitron-semibold;
}

.medium {
    font-family: orbitron-medium;
}

.regular {
    font-family: orbitron-regular;
}

.black {
    font-family: orbitron-black;
}

/* ######## */

body {
    overflow-x: hidden;
    background-color: var(--background);
}

img {
    width: 100%;
}

nav {
    display: flex;
    width: 100%;
    height: 4.5em;
    align-items: center;
    border-bottom: 3.8px solid var(--expert);
    background-color: var(--background);
}

nav>div {
    width: 100%;
    height: 3.8em;
}

nav p {
    font-family: orbitron-black;
}

nav #nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12em;
    margin: 0 auto;
}

nav #nav-logo img {
    width: 4em;
}

nav #nav-logo img:hover {
    width: 4.5em;
}

nav #nav-btns {
    display: flex;
    justify-content: left;
    align-items: center;
    /* width: max-content; */
}

nav #nav-btns>div,
nav #nav-btns>a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .4em;
    padding: 0 .5em;
    width: max-content;
    height: 115%;
    text-decoration: none;
    color: var(--black);
}

nav #nav-btns>div:hover,
nav #nav-btns>a:hover {
    background-color: var(--expert);
    color: var(--white);
}

nav #nav-btns img:not(#nav-partners-biggerImg) {
    width: 1.5em;
}

nav #nav-partners-biggerImg {
    width: 2em;
}

nav #nav-account {
    max-width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    gap: 1.5em;
    cursor: pointer;
    user-select: none;
    transform-origin: right;
}

nav #nav-account img {
    width: fit-content;
    height: 85%;
}

nav #nav-account>p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    word-break: break-all;
    overflow: hidden;
}

nav #nav-account>div {
    width: 6em;
    height: 60%;
    background-color: var(--white);
    border: .1em var(--darkgray) solid;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

nav #nav-account>div:last-of-type {
    background-color: var(--expert);
    border: none;
    color: var(--white);
}

nav #nav-account>div p {
    user-select: none;
}

nav #nav-account>div:hover {
    transform: scale(1.07);
}

nav #nav-account>div:active {
    transform: scale(1.01);
}

nav #nav-account>div:nth-of-type(2) p {
    color: var(--white);
}

nav #nav-items {
    min-width: 6em;
    max-width: 6.85em;
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

nav .dropdown {
    cursor: pointer;
}

/* Dropdown Menu */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .4em;
    padding: 0 .5em;
    width: max-content;
    height: 115%;
    text-decoration: none;
    color: var(--black);
}

/* Dropdown btns */
.dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--white);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
    opacity: 0;
    transform: translateY(-1em);
    transition: all 0.3s;
    pointer-events: none;
    border: .1em var(--black) solid;
    overflow: hidden;
    z-index: 99;
}

.dropdown:hover .dropdown-content {
    opacity: 1;
    transform: translateY(.1em);
    pointer-events: auto;
}

.dropdown:hover p {
    color: var(--white);
}

.dropdown-content a {
    color: var(--black);
    padding: 0.5rem 1rem;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background: var(--expert);
    color: var(--white);
}

footer {
    height: fit-content;
    position: relative;
}

#footerContent {
    background-color: var(--black);
    height: 15em;
}

#footerBorder {
    position: absolute;
    top: -.6em;
    height: .6em;
    width: 100%;
    background-image: url(../img/util/ShadowBlackTr.png);
    background-size: 26%;
}

#footerBorder img {
    position: absolute;
    top: 0;
    height: .6em;
    opacity: .8;
}

.warning {
    position: fixed;
    z-index: 99;
    top: 1em;
    left: calc(50% - 12em);
    min-width: 20em;
    width: fit-content;
    width: 24em;
    height: 4.5em;
    background-color: #F6E5E4;
    border: .11em #b22b2b solid;
    padding: .3em .5em;
    margin: 3em 0;
    display: grid;
    grid-template-columns: 1fr 25%;
    text-align: center;
    align-items: center;
    box-shadow: 0px 0px 9px #b22b2b8c, inset 0px 0px 1.5px #b22b2b;
}

.warningMessage p {
    color: #b22b2b;
    font-family: orbitron-bold;
    font-size: 1.1em;
}

.warningCancel {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.warningCancel div {
    width: min-content;
    cursor: pointer;
}

.warningCancel div:hover p {
    transform: scale(1.12);
    background-color: #b22b2b;
    color: #F6E5E4;
    font-family: orbitron-bold;
}

.warningCancel div:active p {
    transform: scale(1.02);
}

.warningCancel p {
    color: #cc8787;
    border: .08em #cc8787 solid;
    padding: .25em .5em;
    font-family: orbitron-regular;
}

.warningAnim {
    animation: warning .4s ease-out 1 forwards;
}

darkmode {
    position: fixed;
    top: 85vh;
    left: 4em;
}

#darkMode-wrapper {
    width: 4em;
    height: 4em;
}

#darkMode-btn {
    background-color: var(--black);
    border: .2em var(--expert) solid;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

@keyframes warning {
    from {
        opacity: 0;
        transform: translateY(-50%);
    }

    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@media screen and (max-width: 1100px) {
    nav {
        height: 3.5em;
        z-index: 99;
        /* box-shadow: 0px 0px 8px var(--expert); */
    }

    nav #nav-btns p {
        font-size: .8em;
    }

    nav #nav-logo img {
        width: 3em;
    }

    nav #nav-logo img:hover {
        width: 3.5em;
    }

    nav #nav-btns>div,
    nav #nav-btns>a {
        height: 3.5em;
    }

    nav #nav-btns img:not(#nav-partners-biggerImg) {
        width: 1.2em;
    }

    nav #nav-partners-biggerImg {
        width: 1.6em;
    }
}

/* .card {
    width: 200px;
    height: 250px;
    margin: 1rem auto;
    perspective: 1000px;
    cursor: pointer;
  }
  
  .card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  
  .card:hover .card-inner {
    transform: rotateY(180deg);
  }
  
  .card-front,
  .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
  }
  
  .card-front {
    background: white;
    border: 1px solid #e5e7eb;
  }
  
  .card-back {
    background: #8b5cf6;
    color: white;
    transform: rotateY(180deg);
  } */