@font-face {
    font-family: orbitron-regular;
    src: url(../fonts/Orbitron/static/Orbitron-Regular.ttf);
}

@font-face {
    font-family: orbitron-bold;
    src: url(../fonts/Orbitron/static/Orbitron-Bold.ttf);
}

@font-face {
    font-family: orbitron-black;
    src: url(../fonts/Orbitron/static/Orbitron-Black.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: orbitron-regular;
    box-sizing: border-box;
}

img {
    width: 100%;
}

nav {
    display: flex;
    height: 5.5em;
    align-items: center;
    border-bottom: 3.8px solid #FF6123;
    /* background: #ffffff; */
}

nav p {
    font-family: orbitron-black;
}
