/* sold thing box */
#items-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 4em;
    column-gap: 3.6em;
    padding: 2em 1em;
    color: var(--black);
    width: 87%;
    margin: 0 auto;
}

/* seperate sold thing boxes */
.itemBox {
    height: 20em;
    position: relative;
    padding-bottom: 5em;
}

/* inner boxes of .itemBox --> centered positioning */
.itemBox div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemImg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.itemImg img {
    max-height: 16em;
    /* width: 1em; */
}

.itemStats {
    position: absolute;
    padding: .6em 0;
    bottom: 0;
    background-image: url(/img/util/trWhTr.png);
    background-size: 100%;
    width: 100%;
}