
smol {
    color: red;
}

/* Header with stripes background */
#headerBox {
    position: relative;
    height: max-content;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2em 0;
}

/* Header text */
#headerBox h2 {
    color: var(--black);
    font-size: 3em;
    font-family: orbitron-extrabold;
    padding: 0 1.6em;
}

/* whTr.png image with stripes background image */
#headerBoxImg {
    position: absolute;
    top: 0;
    background-image: url(/img/util/Shadow.png);
    background-size: 75%;
    z-index: -1;
}

#headerBoxImg img {
    height: inherit;
}

/* "Content", filter + sold thing */
#wrapper {
    display: grid;
    grid-template-columns: 18% 1fr;
    text-align: center;
    padding: 1.5em 0;
}

/* outer filter box (no id) */
#wrapper>div:first-of-type {
    border-right: .1em var(--gray) solid;
    border-bottom: .1em var(--gray) solid;
}

/* plus btn for more details */
.itemDetailsBtn {
    width: 2em;
    height: 2em;
    border: .03em var(--darkgray) solid;
    color: var(--darkgray);
    position: absolute;
    bottom: .6em;
    right: .6em;
    cursor: pointer;
    user-select: none;
}

.itemDetailsBtn:hover {
    background-color: var(--expert);
    border-color: var(--expert);
    color: var(--white);
    text-shadow: 0px 0px 3px var(--white);
    box-shadow: 0px 0px 5px var(--expert), inset 0px 0px 5px var(--expert);
    transform: scale(1.2);
}

.itemDetailsBtn:active {
    transform: scale(1.06);
}

.itemDetailsBtn p {
    /* font-family: serif; */
    font-weight: 300;
}

.itemDetailsBtn:hover p {
    transform: scale(2.1) translateY(-.05em);
    /* transform: scale(1.6); */
}

/* star btn for favourites */
.itemFavouriteBtn {
    width: 2.8em;
    height: 2.8em;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    transform-origin: right top;
    user-select: none;
}

.itemFavouriteBtnBackground {
    width: inherit;
    height: inherit;
    transform-origin: right top;
    /* background-color: var(--gray); */
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
}

.itemFavouriteBtnBackground:hover {
    /* background-color: var(--yellow); */
    color: var(--yellow);
    /* box-shadow: 0px 0px 5px var(--black); */
    /* transform: scale(1.5); */
}

.itemFavouriteBtnImg {
    transform-origin: 50% 50%;
    position: absolute;
    top: 30%;
    right: 30%;
    width: 1.28em;
    /* opacity: 0; */
    filter: grayscale(1);
    /* transform: scale(1.4); */
}

.itemFavouriteBtnImg:hover {
    padding: .17em .17em 0 0;
    transform: scale(2.3);
    opacity: 1;
}

.itemFavouriteBtnImg:active {
    transform: scale(1.8);
}

/* Device names */
.itemStats h2 {
    font-size: 1.25em;
}

/*  */
.itemDetailsHeader {
    background-color: var(--lightgray);
    color: var(--black);
    font-size: .7em;
    width: 100%;
}

/* Device details price */
.itemDetailsFooter {
    background-color: var(--lightgray);
    color: var(--black);
    font-size: 1.2em;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}
´
/* Device details */
.itemDetails {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

/* box for all filters */
#filterBox {
    box-shadow: 0px 0px 15px 5px var(--lightgray);
}

/* "Filter" text in filterBox */
#filterBox header {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* box for min/max price grid */
#priceFilter {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

#priceFilter>div {
    max-width: 10em;
    /* width: 100%; */
    /* padding: 0 2em; */
}

/* € */
#priceFilter>div>div:first-of-type {
    display: flex;
    background-color: var(--white);
    text-align: center;
    align-items: center;
    font-size: 1.25em;
    padding-right: .2em;
}

/* filter box */
#filterBox {
    /* background-color: var(--gray); */
    color: var(--black);
    height: 24em;
    width: 85%;
    margin: 0 auto;
    padding: 1em 0;
    position: sticky;
    top: calc(50% - 12em);
}

#filterBox>div {
    gap: 1em;
}

/* filter inputs */
#filterBox input {
    width: 100%;
    padding: .2em .5em;
    font-size: 1em;
    text-align: center;
    outline: none;
    border: none;
}

#filterBox>div>div>div:first-of-type {
    border: var(--accountBorder);
}

/* filter descriptions */
.filterText {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: .93em;
}